[submodule "lib/forge-std"]
    path = lib/forge-std
    url = https://github.com/foundry-rs/forge-std
[submodule "lib/eas-contracts"]
	path = contracts/lib/eas-contracts
    url = https://github.com/ethereum-attestation-service/eas-contracts
[submodule "lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
    url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/trustless-agents-erc-ri"]
	path = contracts/lib/trustless-agents-erc-ri
	url = https://github.com/ChaosChain/trustless-agents-erc-ri
